n8n-workflows/pull_rss.json
{
  "name": "pull rss",
  "nodes": [
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "youtube_rss_articles",
          "mode": "list",
          "cachedResultName": "youtube_rss_articles"
        },
        "columnToMatchOn": "title",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -144,
        96
      ],
      "id": "e05cf522-f153-4130-8b53-74c8717257e5",
      "name": "Insert or update rows in a table",
      "credentials": {
        "mySql": {
          "id": "Dult4olRq6YrvVGZ",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.youtube.com/feeds/videos.xml?channel_id=UCilwQlk62k1z7aUEZPOB6yw",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -592,
        0
      ],
      "id": "68a26eff-93aa-43c7-8926-08c6aaa7ab7d",
      "name": "youtube:xiao_lin_shuo"
    },
    {
      "parameters": {
        "url": "https://www.youtube.com/feeds/videos.xml?channel_id=UCMUnInmOkrWN4gof9KlhNmQ",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -592,
        192
      ],
      "id": "71cd40d5-c653-4b4d-878b-af6602752840",
      "name": "youtube:laogao"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "asahi_rss_articles",
          "mode": "list",
          "cachedResultName": "asahi_rss_articles"
        },
        "columnToMatchOn": "title",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        80,
        368
      ],
      "id": "f4538c8b-6c8d-4e8e-a542-f9212cdc9503",
      "name": "Insert or update rows in a table1",
      "credentials": {
        "mySql": {
          "id": "Dult4olRq6YrvVGZ",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.asahi.com/rss/asahi/newsheadlines.rdf",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -368,
        368
      ],
      "id": "de496009-baad-4f15-b855-78f45343822a",
      "name": "asahi:全ジャンル（速報）,每次大概40个"
    },
    {
      "parameters": {
        "url": "https://www3.nhk.or.jp/rss/news/cat0.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -368,
        560
      ],
      "id": "2a0fa1d2-36d0-4182-92cd-758ce0ef0fd2",
      "name": "nhk:总合（头条），每次就7个"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "nhk_rss_articles",
          "mode": "list",
          "cachedResultName": "nhk_rss_articles"
        },
        "columnToMatchOn": "title",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        80,
        560
      ],
      "id": "4843bcdb-20fa-45a8-b79a-c04c735e8961",
      "name": "Insert or update rows in a table2",
      "credentials": {
        "mySql": {
          "id": "Dult4olRq6YrvVGZ",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const { title, link, pubDate, isoDate, author } = item.json;\n\n  // 转换成 MySQL DATETIME 格式\n  function toMySQLDate(isoStr) {\n    const d = new Date(isoStr);\n    const pad = n => n.toString().padStart(2,'0');\n    return `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())} ${pad(d.getHours())}:${pad(d.getMinutes())}:${pad(d.getSeconds())}`;\n  }\n\n  return {\n    json: {\n      title,\n      link,\n      pubDate: toMySQLDate(pubDate),\n      isoDate: toMySQLDate(isoDate),\n      author\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        96
      ],
      "id": "64f9baad-2982-4c3b-ad58-5a1d2812663c",
      "name": "youtube format"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const { title, link, content, contentSnippet, isoDate } = item.json;\n\n  // 把 isoDate 转成 MySQL DATETIME 格式\n  function toMySQLDate(isoStr) {\n    const d = new Date(isoStr);\n    const pad = n => n.toString().padStart(2, '0');\n    return `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())} ${pad(d.getHours())}:${pad(d.getMinutes())}:${pad(d.getSeconds())}`;\n  }\n\n  return {\n    json: {\n      title,\n      link,\n      pubDate: toMySQLDate(isoDate),\n      content,\n      contentSnippet\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        368
      ],
      "id": "a314428d-87a7-4475-b8e9-ff6e90260e58",
      "name": "asahi format"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const { title, link, content, contentSnippet, isoDate } = item.json;\n\n  // isoDate 转成 MySQL DATETIME 格式\n  function toMySQLDate(isoStr) {\n    const d = new Date(isoStr);\n    const pad = n => n.toString().padStart(2, '0');\n    return `${d.getFullYear()}-${pad(d.getMonth() + 1)}-${pad(d.getDate())} ${pad(d.getHours())}:${pad(d.getMinutes())}:${pad(d.getSeconds())}`;\n  }\n\n  return {\n    json: {\n      title,\n      link,\n      pubDate: toMySQLDate(isoDate),\n      content,\n      contentSnippet\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        560
      ],
      "id": "dcb035bf-19ff-46f8-804b-8d21ba3f186c",
      "name": "nhk format"
    },
    {
      "parameters": {
        "fromEmail": "lxy20210816@gmail.com",
        "toEmail": "liyuanhua0512@outlook.com",
        "subject": "所有rss pull run success！",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        528,
        656
      ],
      "id": "9edbac8d-951e-4900-a953-fefadf14d122",
      "name": "Send email",
      "webhookId": "07ec96d8-f090-4a1a-b3c2-7988af044a75",
      "notesInFlow": false,
      "credentials": {
        "smtp": {
          "id": "ElrljSxrAbkG5K5G",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 6,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        304,
        592
      ],
      "id": "86a8b66c-314d-471c-bf93-a0b3b6a5af69",
      "name": "Merge",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "wallstreetcn_rss_articles",
          "mode": "list",
          "cachedResultName": "wallstreetcn_rss_articles"
        },
        "columnToMatchOn": "title",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        80,
        752
      ],
      "id": "0a3f1d53-17ae-473e-a786-870246e32728",
      "name": "Insert or update rows in a table3",
      "credentials": {
        "mySql": {
          "id": "Dult4olRq6YrvVGZ",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const { title, link, isoDate, content } = item.json;\n\n  // isoDate 转成 MySQL DATETIME 格式\n  function toMySQLDate(isoStr) {\n    const d = new Date(isoStr);\n    const pad = n => n.toString().padStart(2, '0');\n    return `${d.getFullYear()}-${pad(d.getMonth() + 1)}-${pad(d.getDate())} ${pad(d.getHours())}:${pad(d.getMinutes())}:${pad(d.getSeconds())}`;\n  }\n\n  return {\n    json: {\n      title,\n      link,\n      pubDate: toMySQLDate(isoDate),\n      content,\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        752
      ],
      "id": "e13c6fc5-fc87-4d2c-9e3d-7199929798dc",
      "name": "wallstreetcn format"
    },
    {
      "parameters": {
        "url": "https://rss.injahow.cn/wallstreetcn/hot",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -368,
        752
      ],
      "id": "10eee477-2a43-4871-af88-1342c566cc82",
      "name": "wallstreetcn:最热文章，每次大概10个"
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "wsj_rss_articles",
          "mode": "list",
          "cachedResultName": "wsj_rss_articles"
        },
        "columnToMatchOn": "title",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -144,
        1008
      ],
      "id": "a3c81107-018c-448d-81a0-84e3beb05f7f",
      "name": "Insert or update rows in a table4",
      "credentials": {
        "mySql": {
          "id": "Dult4olRq6YrvVGZ",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "stock_indices",
          "mode": "list",
          "cachedResultName": "stock_indices"
        },
        "columnToMatchOn": "date",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        80,
        1296
      ],
      "id": "b703350d-c943-45ad-9f04-e4ef32e8f9b2",
      "name": "Insert or update rows in a table5",
      "credentials": {
        "mySql": {
          "id": "gB9GyPAUhhxAC3RF",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -816,
        656
      ],
      "id": "02c51e10-8161-40f1-9977-48a13bd98405",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://feeds.a.dj.com/rss/RSSWorldNews.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -592,
        912
      ],
      "id": "feb174f4-526c-42b0-bf33-5a985828afd8",
      "name": "wsj:世界新闻，每次大概20个"
    },
    {
      "parameters": {
        "url": "https://feeds.a.dj.com/rss/RSSWSJD.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -592,
        1104
      ],
      "id": "79b53c05-bb3e-4f3c-8809-82a27e81e36f",
      "name": "wsj:tech，每次大概20个"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const { title, link, isoDate, content } = item.json;\n\n  // isoDate 转成 MySQL DATETIME 格式\n  function toMySQLDate(isoStr) {\n    const d = new Date(isoStr);\n    const pad = n => n.toString().padStart(2, '0');\n    return `${d.getFullYear()}-${pad(d.getMonth() + 1)}-${pad(d.getDate())} ${pad(d.getHours())}:${pad(d.getMinutes())}:${pad(d.getSeconds())}`;\n  }\n\n  return {\n    json: {\n      title,\n      link,\n      pubDate: toMySQLDate(isoDate),\n      content\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        1008
      ],
      "id": "e9f01757-1ade-4d07-adb7-e3136edd7b54",
      "name": "wsj format"
    },
    {
      "parameters": {
        "jsCode": "// Function Node: Generate Index Symbols\n// 这里写你要抓的指数符号，随便加\nconst symbols = [\n  \"^IXIC\",   // 纳斯达克\n  \"^VIX\",    // VIX 波动率指数\n  \"^N225\",   // 日经225\n  \"000001.SS\" // 上证指数\n];\n\nreturn symbols.map(s => ({ json: { symbol: s } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        1296
      ],
      "id": "a3b42942-c2e0-4e69-91a2-d7c676a5547f",
      "name": "股市观察列表"
    },
    {
      "parameters": {
        "url": "=https://query2.finance.yahoo.com/v8/finance/chart/{{$json[\"symbol\"]}}?range=1d&interval=1d",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        1296
      ],
      "id": "da470d3b-64ac-49b7-a762-0e261f45539c",
      "name": "抓取yahoo finance"
    },
    {
      "parameters": {
        "jsCode": "function toDateString() {\n  const d = new Date();\n  const pad = n => n.toString().padStart(2, \"0\");\n  return `${d.getFullYear()}-${pad(d.getMonth() + 1)}-${pad(d.getDate())}`;\n}\n\n// 映射表\nconst symbolMap = {\n  \"^IXIC\": \"nasdaq\",\n  \"^VIX\": \"vix\",\n  \"^N225\": \"n225\",\n  \"000001.SS\": \"a\"\n};\n\n// 先准备一个对象，包含 date\nconst merged = { date: toDateString() };\n\n// 遍历输入 items，把每个 symbol → 对应的列名，写进 merged\nfor (const item of items) {\n  const result = item.json.chart.result[0];\n  const symbol = result.meta.symbol;\n  const close = result.meta.chartPreviousClose;\n\n  const col = symbolMap[symbol] || symbol;\n  merged[col] = close;\n}\n\n// n8n 需要返回数组，这里返回一条\nreturn [{ json: merged }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        1296
      ],
      "id": "e96790a1-77bd-497f-9e6c-574811e5e1da",
      "name": "转换成一行数据"
    }
  ],
  "pinData": {},
  "connections": {
    "youtube:xiao_lin_shuo": {
      "main": [
        [
          {
            "node": "youtube format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "youtube:laogao": {
      "main": [
        [
          {
            "node": "youtube format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "asahi:全ジャンル（速報）,每次大概40个": {
      "main": [
        [
          {
            "node": "asahi format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nhk:总合（头条），每次就7个": {
      "main": [
        [
          {
            "node": "nhk format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "youtube format": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "asahi format": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nhk format": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Insert or update rows in a table2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wallstreetcn format": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "wallstreetcn:最热文章，每次大概10个": {
      "main": [
        [
          {
            "node": "wallstreetcn format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Insert or update rows in a table5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "youtube:xiao_lin_shuo",
            "type": "main",
            "index": 0
          },
          {
            "node": "youtube:laogao",
            "type": "main",
            "index": 0
          },
          {
            "node": "asahi:全ジャンル（速報）,每次大概40个",
            "type": "main",
            "index": 0
          },
          {
            "node": "nhk:总合（头条），每次就7个",
            "type": "main",
            "index": 0
          },
          {
            "node": "wallstreetcn:最热文章，每次大概10个",
            "type": "main",
            "index": 0
          },
          {
            "node": "wsj:世界新闻，每次大概20个",
            "type": "main",
            "index": 0
          },
          {
            "node": "wsj:tech，每次大概20个",
            "type": "main",
            "index": 0
          },
          {
            "node": "股市观察列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wsj:世界新闻，每次大概20个": {
      "main": [
        [
          {
            "node": "wsj format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wsj:tech，每次大概20个": {
      "main": [
        [
          {
            "node": "wsj format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wsj format": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "股市观察列表": {
      "main": [
        [
          {
            "node": "抓取yahoo finance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "抓取yahoo finance": {
      "main": [
        [
          {
            "node": "转换成一行数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "转换成一行数据": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Tokyo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "fc952706-abea-49da-b01b-97030994f7cb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d0dec0f395cc703d19ba8583866a194aa0347debf41a41b22555a368b3b920dd"
  },
  "id": "fSpsAD3f5b4kSRJL",
  "tags": []
}